.cardapio {
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #de9100;

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
  }

  .botoesCardapio {

      display: flex;
      justify-content: space-between;
      width:50%;
      margin:20px 0;
    button {
      width: 130px;
      height: 40px;
      border:1px solid #252525;
      color: #252525;
      text-transform: uppercase;
      font-size: 16px;
      font-family: inherit;
      font-weight: bold;
      letter-spacing: 1px;
      background: none;
      margin-bottom: 10px;
      outline: none;

      &:hover{
          background-color: #252525;
          color:white;
      }
    }
  }

  .aviso {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #de9100;
    color: white;

    span {
      color: black;
    }
  }

  .itensCardapio{
    width: 50%;
    height: 442px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding:15px;
}
.cardCardapio{
    border:1px solid #de9100;
    border-radius: 6px;
    height: 120px;
    width: 85%;
    padding: 0 10px;
    font-size:14px;

    &:hover{
        border:1px solid #252525;
    }

    label{
        font-weight: bold;
        text-align: left;
        margin-bottom:10px;

        

    }
    .preco{
        text-align: right !important;
        font-size: 15px;
        
    }

    
   

}
.dadosCardapio{
    display: flex;
    flex-direction: column;
}
.rowCardapio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;

}
  
}


