.Body {
  height: calc(100vh - 180px);
  background-color: #252525;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu{
   display: flex;
   justify-content: space-between;
   flex: 1 1 auto;
   height: 10vh;
   width: 100%;
   margin-bottom: 90px;
  }
  button{
   width: 120px;
    background-color: #252525 !important;
    color: #72786F;
    text-transform: uppercase;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    background: none;
    margin-bottom:10px;
    border: none;
    outline: none;
    

    &:hover{
      color:#FFB01A;
      border-bottom:1px solid #FFB01A;
      transition: border-color 1s ease-out 0.1s;

    }
}
  .logo {
    position: absolute;
    display: flex;
    margin-top: -80px;
    
    flex-direction:column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
    img {
      height: 25vh;
      width: 65vh;
      margin-top: -70px;
    }
  }

  .fundo {
    position: absolute;
    right: 0;
    height: calc(100vh - 180px);
    width: 45vw;
  }
}
