
.Header{
    display:flex;
    background-color: #252525;
    width:100%;
    height:100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    

    .localizacao{
        display: flex;
        align-items: center;
        margin-left:30px;
        
        span{
            color:#72786F;
            font-size:13px;
            margin-left: 10px;
            
            
        }
    }
    .number{
        display: flex;
        align-items: center;
        position:absolute;
        right:0;
        margin-right: 30px;

        span{
            color:#72786F;
            font-size:13px;
            margin-left: 10px;
            
            
        }
    }

    
 
    
    
}